{% extends 'base.html' %}
{% block content %}
<!-- Flashed Message Conditional Display -->
{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'user-created' or cat == 'auth-success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>Home page goes here</h1>


<!-- Start of Features -->
<section class="row" id="features-section">
    <div class="col-12 col-md-4">
        <img src="../../static/images/undraw_icon_design_qvdf.png" alt="design" id="design-image">
        <h4>Design your API</h4>
        <p>You can design your API here!</p>          
    </div>
</section>
<!-- End of Features Section -->
{% endblock content %}